// Site alert
.site-alert {
  font-size: rem-calc(20);
  padding-top: 12px;
  padding-bottom: 12px;
  .counter {
    font-size: rem-calc(24);
  }
}

// Mobile Nav Modal
.mobile-nav-modal {
  .modal-dialog {
    min-height: 100%;
    height: auto;
  }
  .modal-content {
    background-color: $gray-100;
    padding: 80px 1rem 40px 1rem;
    min-height: 100vh;
    gap: 60px;
    .close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      transition: $transition-base;
      cursor: pointer;
      &:hover {
        transform: rotate(180deg);
      }
    }
    .modal-footer {
      gap: 20px;
      justify-content: normal;
      .btn {
        font-size: rem-calc(16);
        font-weight: 500;
        padding-top: 0.469rem;
        padding-bottom: 0.469rem;
      }
    }
  }
}

.mobile-nav-menu {
  gap: 30px;
  font-size: rem-calc(18);
  font-weight: 500;
  li {
    &.current-menu-item {
      a {
        color: $primary;
        cursor: default;
      }
    }
    a {
      text-decoration: none;
      color: $gray-900;
      transition: $transition-base;
      &:hover, &:focus {
        color: $primary;
      }
      &.active {
        color: $primary;
      }
    }
  }
}

// Sliders
.specialists-slider, 
.posts-slider {
  margin-left: -1.5rem!important;
  padding: 0 1.5rem!important;
  width: calc(100% + 3rem);
}

// Swiper buttons
.swiper {
  .swiper-button-prev,
  .swiper-button-next {
    width: 48px;
    height: 48px;
    background: $white;
    box-shadow: 0px 2.629px 29.703px 0px rgba(22, 41, 88, 0.08);
    border: 2px solid $gray-600;
    border-radius: 50%;
    transition: $transition-base;
    &:after {
      content: none;
    }
    &:hover {
      border-color: #49A7EC;
      svg {
        path {
          stroke: $gray-900;
        }
      }
    }
    svg {
      width: auto;
      height: auto;
      path {
        transition: $transition-base;
        stroke: $gray-600;
      }
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}

// Specialist card
.specialist-card {
  gap: 15px;
  padding: 24px;
  border-color: $gray-300;
  border-radius: 10px;
  overflow: visible;
  margin-top: 28px;
  transition: $transition-base;
  background-color: $white;
  &:hover {
    box-shadow: 0px 2px 22.6px 0px rgba(22, 41, 88, 0.16);
  }
  .card-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  .card-img {
    width: 150px;
    height: 150px;
    background: $gray-400;
    border: 8px solid $gray-400;
    margin-top: -52px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-meta {
    gap: 5px;
    li {
      color: $gray-400;
      font-size: rem-calc(12);
      &:not(:last-child) {
        &:after {
          content: '·';
          margin-left: 5px;
        }
      }
    }
  }
  .card-price {
    .price-value {
      font-size: rem-calc(16);
    }
    .price-label {
      color: $gray-600;
      font-size: rem-calc(14);
    }
  }
  .card-services {
    .service-label {
      font-size: rem-calc(14);
    }
  }
  .service-list {
    li {
      font-size: rem-calc(12);
      background: linear-gradient(90deg, #5C8DE1 -7.47%, #35B0D0 85.26%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding: 3px 10px;
      border: 1px solid $gray-300;
      transition: $transition-base;
      &:hover {
        background-color: $gray-200;
      }
    }
  }
}

// Post card
.post-card {
  border-color: $gray-300;
  border-radius: 10px;
  background-color: $white;
  overflow: hidden;
  transition: $transition-base;
  &:hover {
    box-shadow: 0px 2px 22.6px 0px rgba(22, 41, 88, 0.16);
  }
  a {
    text-decoration: none;
  }
  .card-img-top {
    background-color: $gray-350;
    background-image: url('../img/icons/image-placeholder.svg');    
    background-repeat: no-repeat;
    background-position: center center;
    height: 327px;
  }
  .card-body {
    padding: 1rem;
    font-size: rem-calc(14);
    color: $gray-400;
    h2 {
      @include line-clamp(1);
    }
    p {
      @include line-clamp(5);
    }
  }
}

// FAQ accordion
.faq-list {
  gap: 20px;
  @include media-breakpoint-down(md) { 
    gap: 10px;
  }
  .accordion-item {
    border: none;
  }
  .accordion-header {
    .accordion-button {
      border-radius: 0;
      background: transparent;
      padding: 10px 0;
      box-shadow: none;
      &:focus {
        box-shadow: none;
      }
    }
  }
  .accordion-button {
    gap: 1rem;
    &:after {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $primary;
      background-position: center center;
      background-image: url('../img/icons/arrow-down.svg');
      background-repeat: no-repeat;
      background-size: 14px 14px;
    }
  }
  .accordion-body {
    color: $gray-700;
    padding-left: 0;
    padding-right: 0;
    & > * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

//  Modals
.modal {
  .modal-md {
    .modal-content {
      padding: 40px;
      border-radius: 20px;
      box-shadow: 0px 2px 22.6px 0px rgba(22, 41, 88, 0.16);
      border-color: transparent;
      gap: 25px;
      @include media-breakpoint-down(sm) { 
        padding: 40px 1rem 1rem 1rem;
      }
      h3 {
        font-size: rem-calc(30);
        font-weight: 600;
        @include media-breakpoint-down(sm) { 
          font-size: rem-calc(26);
        }
      }
      .alert {
        font-size: rem-calc(15);
        font-weight: 500;
        line-height: 1.33;
        padding: 10px 24px;
        background-color: #CDEAFF;
        border-radius: 5px;
      }
      .form-control {
        border-radius: 25px;
        border-color: $gray-300;
      }
      .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        transition: $transition-base;
        cursor: pointer;
        display: flex;
        &:hover {
          transform: rotate(180deg);
          svg {
            path {
              stroke: $primary;
            }
          }
        }
      }
    }
  }
}

// Breadcrumbs
.breadcrumb {
  .breadcrumb-item {
    @include media-breakpoint-down(lg) {
      font-size: 1rem;
    }
    & + .breadcrumb-item::before {
      position: relative;
      top: 1px;
    }
    a {
      text-decoration: none;
      color: $gray-400;
      &:hover, &:focus {
        background: linear-gradient(87deg, #6196EC -4.41%, #34BADD 59.04%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

// Info Nav
.info-nav {
  gap: 20px;
  .nav-item {
    .nav-link {
      color: $gray-400;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      &:hover {
        background: linear-gradient(87deg, #6196EC -4.41%, #34BADD 59.04%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &.active {
        background: linear-gradient(87deg, #6196EC -4.41%, #34BADD 59.04%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: default;
        position: relative;
        &:after {
          content: '';
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: linear-gradient(87deg, #6196EC -4.41%, #34BADD 59.04%);
        }
      }
    }
  }
}